
  @font-face {
    font-family: 'fuente2';
    src: url(Letra2.otf);
  }
  
  body {
    background-image: url(imagenes/fondomonopoly.jpg);
    background-size: cover;
  }


  img {
    width:170px;
    height: 80px;
  }

.arriba{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.abajo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#izquierda{
    width: 220px;
    height: 150px;
}
    

#derecha{
    margin-left: 50px;
    width: 220px;
    height: 150px;
}

#pago{
    width: 180px;
    height: 30px;
}

.pgo{
    margin-top: 100px;
    font-family:'fuente'; 
}


.cuadrado1 {
    width: 700px;
    height: 400px;
    border: 5px solid rgb(232, 30, 30);
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 420px;
  }

  #logoMonopoly{
    margin-top: 50px;
    margin-left: 700px;
  }

  .cuadrado2 {
    width: 300px;
    height: 350px;
    border: 5px solid rgb(255, 240, 34);
    background-color: rgb(255, 255, 255);
    margin-top: 110px;
    margin-left: 430px;
  }

  #fotoGrande{
    width:220px;
    height: 230px;
    margin-left: 40px;
    margin-top: 40px;
  }

  h3 {
    color: rgb(0, 0, 0);
    margin-left: 132px;
  }

  .cuadrado3 {
    width: 330px;
    height: 500px;
    border: 5px solid rgb(255, 240, 34);
    background-color: rgb(255, 255, 255, 0.7);
    margin-top: 40px;
    margin-left: 4px;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      'menu main main main main right'
      'menu footer footer footer footer footer';
  }

