@font-face {
    font-family: 'fuente2';
    src: url(letra2.otf);
}

body{
    background-image: url(fondo.jpg);
    text-align: center;
}

h1 {
    font-family: "fuente2";
    font-size: 60px;
    text-align: center;
    padding: 10px;
    margin: 100px;
    color:black;
    -webkit-text-stroke: 1.2px rgb(162, 184, 255);
    margin-bottom: 0px;
}

h2 {
    font-family:"fuente2";
    font-size: 20px;
    text-align: left;
    color:black;
    margin-left: 9px;
}

li {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: left;
    color:black;
    margin-left: 7px;
}

.Cuadrado1{
    width: 550px;
    height: 550px;
    border-color: rgb(2, 49, 22);
    background-color: rgb(50, 160, 85, 0.9);
    margin-top: 30px;
    margin-left: 140px;
    border-style: outset;
    border-width: 4px;
    border-radius: 8px;
    border-color: rgb(2, 49, 22);
} 

.Cuadrado2{
    width: 550px;
    height: 550px;
    border-color: rgb(2, 49, 22);
    background-color: rgb(50, 160, 85, 0.8);
    margin-top: 30px;
    margin-left: 20px;
    border-style: outset;
    border-width: 4px;
    border-radius: 8px;
    border-color: rgb(2, 49, 22);
} 
.grid-container {
    display: grid;
    grid-template-areas:
      'menu main main main main right'
      'menu footer footer footer footer footer';
  }


